@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');
$bg: #393e41;
$title: #cc59d2;
$hcContainer: #e94f37;
$jsContainer: #ffbf3e;
$javaContainer: #884acf;
$itemBg: #2c2c2c;
$regText: #fffaff;
$addColor: rgb(94, 255, 94);
$removeColor: rgb(255, 95, 95);

body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  .application {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
    .app-header {
      font-family: 'Concert One', cursive;
      text-align: center;
      margin-bottom: 3rem;
      h1 {
        font-size: 3rem;
        color: $title;
        margin: 0;
      }
      p {
        color: $regText;
      }
    }
    .app-main {
      color: $regText;
      font-family: 'Baloo 2', cursive;
      .language-select {
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        .selection {
          font-weight: 700;
          font-size: 1.2rem;
          width: 50%;
          box-sizing: border-box;
          padding: 15px 20px;
          text-align: center;
          border-radius: 10px;
          cursor: pointer;
          &:nth-child(1) {
            border: 2px solid $hcContainer;
            color: $hcContainer;
            background-color: $itemBg;
            &:hover {
              background-color: $hcContainer;
              color: $regText;
            }
          }
          &:nth-child(2) {
            border: 2px solid $jsContainer;
            background-color: $itemBg;
            color: $jsContainer;
            &:hover {
              background-color: $jsContainer;
              color: $regText;
            }
          }
          &:nth-child(3) {
            border: 2px solid $javaContainer;
            color: $javaContainer;
            background-color: $itemBg;
            &:hover {
              background-color: $javaContainer;
              color: $regText;
            }
          }
        }
        .create-new {
          border: 1px solid $addColor;
          color: $addColor;
          .new-lang-area {
            background: none;
            border: none;
            border-bottom: 1px solid $addColor;
            resize: none;
            font-size: 1.3rem;
            height: 2rem;
            width: 100%;
            color: $regText;
          }
        }
      }
      .sections {
        .section {
          text-align: center;
          .items {
            display: grid;
            grid-template-columns: repeat(
              auto-fill,
              minmax(33%, 33%)
            );
            justify-items: center;
            row-gap: 4rem;
            width: 70%;
            margin: auto;
            .item {
              background-color: $itemBg;
              width: 80%;
              border-radius: 10px;
              .item-header {
                text-align: left;
                position: relative;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                h4 {
                  margin: 0 20px 0 10px;
                }
                .close-btn {
                  position: absolute;
                  top: 0px;
                  right: 5px;
                  cursor: pointer;
                }
              }
              .item-content {
                padding: 10px;
                position: relative;
                .line,
                .comment-line {
                  display: block;
                  text-align: left;
                }
                .item-code {
                  overflow-x: auto;
                  margin-right: 2rem;
                  box-sizing: border-box;
                }
                .comments {
                  background-color: rgb(69, 67, 83);
                  margin-top: 1rem;
                  padding: 0.7rem;
                  border-radius: 10px;
                  height: 7rem;
                  overflow-y: auto;
                  .comment-line {
                    max-width: 100%;
                  }
                }
                .clipboard-icon {
                  height: 24px;
                  width: auto;
                  filter: invert(100%);
                  cursor: pointer;
                  position: absolute;
                  top: 5px;
                  right: 5px;
                }
              }
            }
            .add-item {
              width: 80%;
              box-sizing: border-box;
              margin: 0 auto;
              border: 2px solid $title;
              border-radius: 10px;
              padding: 1rem;
              position: relative;
              span {
                position: absolute;
                top: 1rem;
                right: 1rem;
                border: 1px solid $removeColor;
                color: $removeColor;
                border-radius: 0.5rem;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                font-size: 1.4rem;
                cursor: pointer;
                &:hover {
                  background-color: $removeColor;
                  color: $regText;
                }
              }
              input,
              textarea {
                margin-top: 1rem;
                display: block;
                width: 100%;
                box-sizing: border-box;
                border: none;
                background-color: $itemBg;
                resize: none;
                color: $regText;
                border-radius: 10px;
                padding: 10px;
              }
              .submit-btn {
                border: 1px solid $addColor;
                background: none;
                color: $addColor;
                border-radius: 10px;
                height: 3rem;
                width: 50%;
                margin: auto;
                margin-top: 1rem;
                line-height: 3rem;
                cursor: pointer;
                &:hover, &:focus {
                  color: $regText;
                  background-color: $addColor;
                  outline: none;
                }
              }
            }
            .add-new-btn {
              align-self: center;
              width: 50%;
              height: 10rem;
              line-height: 10rem;
              margin: auto;
              border: 1px solid $addColor;
              border-radius: 10px;
              color: $addColor;
              cursor: pointer;
              h4 {
                margin: 0;
              }
              &:hover {
                background-color: $addColor;
                color: $regText;
              }
            }
          }
        }
        .html-css .items .item {
          border: 1px solid $hcContainer;
          .item-header {
            background-color: $hcContainer;
          }
        }
        .js .items .item {
          border: 1px solid $jsContainer;
          .item-header {
            background-color: $jsContainer;
          }
        }
        .java .items .item {
          border: 1px solid $javaContainer;
          .item-header {
            background-color: $javaContainer;
          }
        }
      }
    }
  }
}
